apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginxargotest
  name: nginx-argo-svc
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginxargotest
  type: NodePort